@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  position: relative;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4 {
  color: white;
}

h3 {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-family: delittle-chromatic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.main-header {
  display: flex;
  flex-direction: column;
}
.main-header.fixed {
  box-shadow: 0px 0px 125px 0px rgba(189, 189, 189, 0.9);
}
@media (min-width: 800px) {
  .main-header {
    flex-direction: row;
    align-items: center;
  }
}
.main-header .navigation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2ex 4ex;
}
.main-header .navigation ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2ex;
}
.main-header .navigation ul li {
  padding: 1ex 0ex;
}
.main-header .navigation__logo {
  border: 0.5ex solid rgb(0, 0, 0);
  padding: 1ex;
}
.main-header .navigation__logo:hover {
  transform: scale(0.95);
}
.main-header .navigation__logo h1 {
  font-size: 2.5vw;
  color: rgb(1, 1, 1);
}
.main-header .navigation__toggle {
  display: flex;
  margin-left: 2ex;
  cursor: pointer;
}
@media (min-width: 800px) {
  .main-header .navigation__toggle {
    display: none;
  }
}
.main-header .sitelinks {
  padding: 0 4ex;
  display: flex;
  height: 0;
  overflow: hidden;
  justify-content: end;
  gap: 4ex;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2ex;
}
@media (min-width: 800px) {
  .main-header .sitelinks {
    height: auto;
    overflow: unset;
  }
}
.main-header .sitelinks li {
  padding: 1ex 0ex;
}
.main-header .sitelinks.active {
  height: auto;
  overflow: unset;
}
.main-header .sitelinks li {
  font-size: clamp(12px, 1.5vw, 1.8vw);
  text-transform: uppercase;
  position: relative;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  cursor: pointer;
  transition: all 250ms ease-in;
}
.main-header .sitelinks li:hover {
  -webkit-text-decoration-line: underline overline;
          text-decoration-line: underline overline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  transform: translateY(-2px);
  color: orange;
  -webkit-text-decoration-color: orange;
          text-decoration-color: orange;
}

.socials {
  list-style: none;
  position: fixed;
  bottom: 5em;
  left: 1ex;
  margin-left: auto;
  gap: 1ex;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.socials a {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1ex;
  border-radius: 1ex;
  transition: 150ms ease-in;
  box-shadow: -10px 0px 40px 0px rgba(163, 163, 163, 0.562);
}
.socials a:hover {
  background-color: white;
  transform: translateY(-1px);
  box-shadow: -10px 0px 40px 20px rgba(168, 168, 168, 0.562);
}
.socials a svg {
  width: clamp(16px, 1.3vw, 2vw);
  aspect-ratio: 1;
  transition: all 150ms steps(1);
  fill: rgb(255, 255, 255);
}
.socials a:hover svg {
  fill: black;
}

.slider-burgers {
  padding: 2em;
  margin: 0 auto;
  height: 80vh;
  width: calc(100% - 4em);
  position: relative;
  overflow-x: scroll;
  cursor: -webkit-grab;
  cursor: grab;
}
.slider-burgers::-webkit-scrollbar {
  display: none;
}
.slider-burgers__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.slider-burgers__inner__slide {
  height: 100%;
  width: 33%;
  flex-shrink: 0;
  display: grid;
  place-content: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.262);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2vw 1fr 2vw;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.slider-burgers__inner__slide h2 {
  grid-row: 2/3;
  grid-column: 2/3;
  z-index: 2;
  justify-self: center;
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 3.5vw;
  margin-bottom: 1ex;
  text-align: center;
}
.slider-burgers__inner__slide h3 {
  grid-row: 1/2;
  grid-column: 2/3;
  z-index: 2;
  justify-self: center;
  text-transform: uppercase;
  font-size: 2.5vw;
  margin-top: 1ex;
  text-align: center;
}
.slider-burgers__inner__slide img {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  z-index: 1;
  position: relative;
  align-self: center;
  justify-self: center;
  transform: scale(0.9);
}
.slider-burgers__inner__slide:not(:last-child) {
  border-right: none;
}
.slider-burgers__inner__slide.active {
  background-image: url(../assets/textures/asfalt-dark.png);
  background-color: gold;
}
.slider-burgers__inner__slide.active::after {
  content: "";
  background-image: url(../assets/textures/stroke3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 80%;
  height: 80%;
  opacity: 0.7;
  grid-row: 1/3;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}
.slider-burgers__inner__slide.active img {
  transform: scale(1);
}

.spacer {
  height: 12vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.spacer span {
  cursor: pointer;
  text-transform: uppercase;
}
.spacer span:nth-child(2) span.city {
  margin-left: 0.5ex;
  color: black;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}
.spacer span.show-menu,
.spacer span.order-online {
  border-bottom: 1px solid black;
}
.spacer span:nth-child(1),
.spacer span:nth-child(2),
.spacer span:nth-child(3) {
  color: rgba(0, 0, 0, 0.472);
  display: none;
}
@media (min-width: 800px) {
  .spacer {
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  }
  .spacer span:nth-child(1),
.spacer span:nth-child(2),
.spacer span:nth-child(3) {
    display: unset;
  }
}

.offer {
  max-height: 150vh;
  margin: 2ex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  gap: 2ex;
}
.offer__card {
  position: relative;
  background-size: cover;
  background-position: bottom;
}
.offer__card.burgers {
  background-image: url(../assets/cards/front-view-burger-stand.jpg);
}
.offer__card.limited_offer1 {
  background-image: url(../assets/cards/pattern.png);
}
.offer__card.limited_offer2 {
  background-image: url(../assets/cards/front-view-burgers-stand.jpg);
}
.offer__card:not(:last-child)::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0px 0px 80px 80px rgba(0, 0, 0, 0.936);
}
.offer__hero {
  position: relative;
  grid-column: span 3;
  padding: 4ex;
  background-image: url(../assets/cards/burgers-and-dips.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 8vw 1fr 8vw;
  grid-auto-flow: row;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  row-gap: 4ex;
}
.offer__hero > * {
  z-index: 2;
  color: white;
  grid-column: 2/3;
}
.offer__hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.32);
}
.offer__hero h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.offer__hero h1 {
  font-size: 4vw;
  width: 21ch;
  text-transform: uppercase;
  padding: 0.5ex 0ex 0.5ex 1ex;
  border-left: 4px solid orange;
}
.offer__hero p {
  width: 50ch;
  letter-spacing: 1px;
  line-height: 1.6;
}
.offer__hero .button-container {
  display: flex;
  gap: 2ex;
}
.offer__hero .button-container .button {
  padding: 2ex 2.5ex;
  border-radius: 0.75ex;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: 250ms ease-in;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.294);
}
.offer__hero .button-container .button:hover {
  transform: translateY(-4px);
}
.offer__hero .button-container .about-food {
  background-color: orange;
}
.offer__hero .button-container .view-menu {
  background-color: rgba(0, 0, 0, 0.468);
}

.limited {
  max-height: 150vh;
  background-color: rgb(191, 13, 49);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: minmax(10px, 50px) -webkit-min-content minmax(10px, 50px) -webkit-max-content minmax(10px, 50px) -webkit-min-content minmax(10px, 50px) -webkit-min-content minmax(10px, 25px);
  grid-template-rows: minmax(10px, 50px) min-content minmax(10px, 50px) max-content minmax(10px, 50px) min-content minmax(10px, 50px) min-content minmax(10px, 25px);
  align-items: center;
  justify-items: center;
  position: relative;
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.728);
  overflow: hidden;
}
.limited::before {
  content: "";
  position: absolute;
  text-align: center;
  top: 0%;
  right: 0%;
  width: 20%;
  aspect-ratio: 1;
  background-color: rgb(243, 187, 83);
  -webkit-clip-path: polygon(30% 0, 0 0, 100% 100%, 100% 70%);
          clip-path: polygon(30% 0, 0 0, 100% 100%, 100% 70%);
  z-index: 1;
}
.limited::after {
  content: "LIMITED!";
  color: white;
  position: absolute;
  text-align: center;
  top: 0%;
  right: 0%;
  width: 50%;
  aspect-ratio: 1;
  transform: rotate(45deg);
  font-size: 2.5vw;
  z-index: 1;
}
.limited__logo {
  color: white;
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 3vw;
}
.limited__embeded {
  grid-column: 2/5;
  grid-row: 4/5;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.199);
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16/9;
}
.limited__embeded iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.limited__caption-headline {
  align-self: flex-end;
  grid-column: 3/4;
  grid-row: 6/7;
  font-size: 3vw;
}
.limited__caption-body {
  align-self: flex-start;
  grid-column: 3/4;
  grid-row: 8/9;
  text-align: center;
  color: orange;
  letter-spacing: 1px;
  line-height: 1.5;
}
.limited__caption-body a {
  color: white;
  letter-spacing: 0px;
  -webkit-text-decoration: underline 2px double;
          text-decoration: underline 2px double;
  text-underline-position: under;
}

.reviews {
  height: 60vh;
  margin: 2ex;
  position: relative;
  background-color: grey;
}
.reviews .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.reviews .button__prev {
  left: 0%;
}
.reviews .button__next {
  right: 0%;
}
.reviews__slider__card {
  position: relative;
}/*# sourceMappingURL=main.css.map */