@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

$screen-large: 800px;
@mixin screen-lg {
  @media (min-width: #{($screen-large)}) {
    @content;
  }
}

body {
  position: relative;
  // height: 100%;
  // width: 100vw;
  // overflow-x: hidden;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  text-transform: uppercase;
}

h2 {
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
.main-header {
  &.fixed {
    -webkit-box-shadow: 0px 0px 125px 0px rgba(189, 189, 189, 0.9);
    -moz-box-shadow: 0px 0px 125px 0px rgba(189, 189, 189, 0.9);
    box-shadow: 0px 0px 125px 0px rgba(189, 189, 189, 0.9);
  }
  // height: 12vh;
  display: flex;
  flex-direction: column;
  @include screen-lg {
    flex-direction: row;
    align-items: center;
  }
  // display: flex;
  // align-items: center;

  .navigation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2ex 4ex;
    ul {
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2ex;
      li {
        padding: 1ex 0ex;
      }
    }
    &__logo {
      border: 0.5ex solid rgb(0, 0, 0);
      padding: 1ex;
      // transition: all 250ms steps(1);

      // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.273);
      &:hover {
        transform: scale(0.95);
      }
      h1 {
        font-size: 2.5vw;
        color: rgb(1, 1, 1);
      }
    }

    // &__socials {
    //   // position: fixed;
    //   // bottom: 5em;
    //   // left: 5em;
    //   margin-left: auto;
    //   gap: 2ex;
    //   display: flex;
    //   flex-direction: column;
    //   a {
    //     display: flex;

    //     svg {
    //       width: clamp(16px, 1.3vw, 2vw);
    //       aspect-ratio: 1;
    //       transition: all 150ms steps(1);
    //     }
    //     &:hover svg {
    //       fill: orange;
    //       transform: translateY(-1px);
    //     }
    //   }
    // }

    &__toggle {
      display: flex;
      margin-left: 2ex;
      cursor: pointer;
      @include screen-lg {
        display: none;
      }
    }
  }
  .sitelinks {
    padding: 0 4ex;
    display: flex;
    height: 0;
    overflow: hidden;
    justify-content: end;
    gap: 4ex;

    list-style: none;
    display: flex;
    align-items: center;
    gap: 2ex;
    @include screen-lg {
      height: auto;
      overflow: unset;
    }

    li {
      padding: 1ex 0ex;
    }

    &.active {
      height: auto;
      overflow: unset;
    }
    li {
      font-size: clamp(12px, 1.5vw, 1.8vw);
      text-transform: uppercase;
      position: relative;
      font-family: "Roboto", sans-serif;
      white-space: nowrap;
      cursor: pointer;
      transition: all 250ms ease-in;

      // &::before,
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 0;
      //   height: 1px;
      //   background-color: black;
      //   opacity: 0;
      //   transition: all 250ms steps(1);
      // }
      // &::before {
      //   top: 0;
      //   left: 0;
      // }
      // &::after {
      //   background-color: black;
      //   bottom: 0;
      //   left: 0;
      // }

      &:hover {
        text-decoration-line: underline overline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
        transform: translateY(-2px);
        color: orange;
        text-decoration-color: orange;
      }
      // &:hover::before,
      // &:hover::after {
      //   width: 100%;
      //   opacity: 1;
      //   background-color: orange;
      // }
    }
  }
}
.socials {
  list-style: none;
  position: fixed;
  bottom: 40%;
  right: 1ex;
  margin-left: auto;
  gap: 1ex;
  display: flex;
  flex-direction: column;
  z-index: 100;

  a {
    // background-color: rgba(233, 152, 1, 0.847);
    background-color: rgba(0, 0, 0, 0.359);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1ex;
    // clip-path: circle(50%);
    border-radius: 1ex;
    transition: 150ms ease-in;
    box-shadow: -10px 0px 40px 0px rgba(0, 0, 0, 0.562);
    &:hover {
      background-color: white;
      transform: translateY(-1px);
      box-shadow: -10px 0px 20px 10px rgba(168, 168, 168, 0.562);
    }
    svg {
      width: clamp(16px, 1.3vw, 2vw);
      aspect-ratio: 1;
      transition: all 150ms steps(1);
      fill: rgb(255, 255, 255);
    }
    &:hover svg {
      fill: black;
    }
  }
}
.slider-burgers {
  padding: 2em;
  margin: 0 auto;
  height: 80vh;
  width: calc(100% - 4em);
  position: relative;
  //   background-color: green;
  overflow-x: scroll;
  //   margin-bottom: 2em;
  cursor: grab;

  &::-webkit-scrollbar {
    display: none;
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;

    // gap: 2em;

    &__slide {
      //   box-sizing: content-box;
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      display: grid;
      place-content: center;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.262);

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 2vw 1fr 2vw;

      //solution to drag
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      @include screen-lg {
        width: 33%;
      }

      h2 {
        grid-row: 2/3;
        grid-column: 2/3;
        z-index: 2;
        justify-self: center;
        align-self: flex-end;
        text-transform: uppercase;
        font-size: 3.5vw;
        margin-bottom: 1ex;
        text-align: center;
      }
      h3 {
        grid-row: 1/2;
        grid-column: 2/3;
        z-index: 2;
        justify-self: center;

        text-transform: uppercase;
        font-size: 2.5vw;
        margin-top: 1ex;
        text-align: center;
      }

      img {
        grid-row: 1/3;
        grid-column: 2/3;

        width: 90%;
        height: 90%;
        object-fit: cover;
        pointer-events: none;
        z-index: 1;
        position: relative;
        align-self: center;
        justify-self: center;
        transform: scale(0.9);
      }
    }
    &__slide:not(:last-child) {
      border-right: none;
    }
    &__slide.active {
      background-image: url(../assets/textures/asfalt-dark.png);
      background-color: gold;

      &::after {
        content: "";
        background-image: url(../assets/textures/stroke3.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        width: 80%;
        height: 80%;
        opacity: 0.7;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        grid-row: 1/3;
        grid-column: 1/-1;
        align-self: center;
        justify-self: center;
      }

      img {
        transform: scale(1);
      }
    }
  }
}
.spacer {
  height: 12vh;
  // width: 100vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: url(../assets/textures/crumpled-paper2.jpg);
  background-size: cover;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  span {
    cursor: pointer;
    text-transform: uppercase;
  }
  span:nth-child(1) {
  }
  span:nth-child(2) {
    span.city {
      margin-left: 0.5ex;
      color: black;
      font-size: 0.8rem;
      border-bottom: 1px solid black;
    }
  }
  span:nth-child(3) {
  }
  span.show-menu,
  span.order-online {
    border-bottom: 1px solid black;
  }
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    color: rgba(0, 0, 0, 0.472);
    display: none;
  }
  @include screen-lg {
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
      display: unset;
    }
  }
}
.offer {
  // max-height: 200vh;
  margin: 2ex;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  gap: 2ex;

  @include screen-lg {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2ex;
  }
  &__card {
    grid-row: span 1;
    grid-column: 1/-1;
    min-height: 250px;
    transition: all 150ms ease-in;

    &:not(:last-child) {
      filter: grayscale(20%);
    }
    &:hover {
      transform: scale(1.05);
      filter: grayscale(0%);
    }
    @include screen-lg {
      grid-row: 1;
      grid-column: span 1;
    }

    position: relative;
    background-size: cover;
    background-position: bottom;

    display: grid;
    place-items: center;
    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1ex;

      &__headline {
        font-size: clamp(30px, 1.5vw, 2.5vw);
      }
      &__icon {
        font-size: clamp(30px, 1.5vw, 2.5vw);
        color: white;
      }
    }

    &.burgers {
      background-image: url(../assets/cards/front-view-burger-stand.jpg);
    }
    &.limited_offer1 {
      background-image: url(../assets/cards/pattern.png);
    }
    &.limited_offer2 {
      background-image: url(../assets/cards/front-view-burgers-stand.jpg);
    }
  }
  &__hero {
    position: relative;
    grid-column: span 3;
    padding: 4ex;
    background-image: url(../assets/cards/burgers-and-dips.jpg);
    background-size: cover;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 4vw 1fr 8vw;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    row-gap: 4ex;
    & > * {
      z-index: 2;
      color: white;
      grid-column: 2/3;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.32);
    }
    h6 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h1 {
      font-size: 4vw;
      width: 21ch;
      text-transform: uppercase;
      padding: 0.5ex 0ex 0.5ex 1ex;
      border-left: 4px solid orange;
    }

    p {
      width: 50ch;
      letter-spacing: 1px;
      line-height: 1.6;
      font-size: clamp(10px, 1.25vw, 1.25vw);
    }
    .button-container {
      display: flex;
      gap: 2ex;
      .button {
        // padding: 2ex 2.5ex;
        font-size: clamp(12px, 1.25vw, 1.25vw);
        padding: clamp(0.75ex, 1ex, 2ex) clamp(0.75ex, 1ex, 2ex);
        border-radius: 0.75ex;
        text-transform: uppercase;
        transition: 250ms ease-in;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.294);

        &:hover {
          transform: translateY(-4px);
        }
        &__about-food {
          background-color: orange;
        }
        &__view-menu {
          background-color: rgba(0, 0, 0, 0.468);
        }
      }
    }
  }
}
.limited {
  max-height: 150vh;
  background-color: rgb(191, 13, 49);
  // padding: 2ex;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows:
    minmax(10px, 50px)
    min-content
    minmax(10px, 50px)
    max-content
    minmax(10px, 50px)
    min-content
    minmax(10px, 50px)
    min-content
    minmax(10px, 25px);
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.728);
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    text-align: center;
    z-index: 1;
    pointer-events: none;
    aspect-ratio: 1;
    font-size: 2.5vw;
  }
  &::before {
    top: 0%;
    right: 0%;
    width: 20%;
    background-color: rgb(243, 187, 83);
    clip-path: polygon(30% 0, 0 0, 100% 100%, 100% 70%);
  }
  &::after {
    content: "LIMITED!";
    color: white;
    top: 0%;
    right: 0%;
    width: 50%;
    transform: rotate(45deg);
  }

  // gap: 2ex;
  &__logo {
    color: white;
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 3vw;
  }
  &__embeded {
    grid-column: 2/5;
    grid-row: 4/5;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.199);
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;

    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
    }
  }
  &__caption-headline {
    align-self: flex-end;
    grid-column: 3/4;
    grid-row: 6/7;
    font-size: 3vw;
  }
  &__caption-body {
    align-self: flex-start;
    grid-column: 3/4;
    grid-row: 8/9;
    text-align: center;
    color: orange;
    letter-spacing: 1px;
    line-height: 1.5;
    a {
      color: white;
      letter-spacing: 0px;
      text-decoration: underline 2px double;
      // text-underline-offset: 4px;
      text-underline-position: under;
    }
  }
}
.reviews {
  height: 40vh;
  padding: 2ex;
  position: relative;
  background-image: url(../assets/textures/crumpled-paper2.jpg);
  background-size: cover;
  .button {
    height: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);

    &__prev {
      left: 2%;
      span {
        font-size: clamp(20px, 3vw, 4vw);
      }
    }
    &__next {
      right: 2%;
      span {
        font-size: clamp(4ex, 3vw, 4vw);
      }
    }
  }
  &__slider {
    overflow: hidden;

    height: 100%;
    width: 100%;
    position: relative;

    &__card {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      color: white;
      transition: 250ms ease-in;
      @include screen-lg {
        width: 50%;
      }
      .control {
        background-image: url(../assets/textures/asfalt-dark.png);
        background-color: rgb(255, 0, 89);
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        grid-template-columns: 1fr auto;
        row-gap: 2ex;
        padding: 4ex;
        border: 1ex double white;
        .quotation-mark {
          position: absolute;
          height: 20%;
          aspect-ratio: 1;
          // background-color: black;
          z-index: 2;

          img {
            height: 90%;
            width: 90%;
            object-fit: contain;
            filter: invert(100%);
          }
          &__top {
            top: 20%;
            left: 5%;
          }
          &__bottom {
            bottom: 20%;
            right: 5%;
            img {
              transform: rotate(180deg);
            }
          }
        }
        .customer {
          grid-row: 3;
          grid-column: 2;

          align-self: flex-end;
          justify-self: end;
        }
        .rating {
          grid-column: 2;
          align-self: flex-end;
          justify-self: end;
          text-align: right;
        }
        .review {
          grid-column: 2;
          text-align: right;
          max-width: 50ch;
        }
      }
    }
  }
}
.offer.offer-reversed {
  grid-template-rows: 2fr 1fr 1fr 1fr;

  .offer__card {
    grid-row: span 1;
    grid-column: span 1;
  }
  .offer__hero {
    grid-row: 1;
    grid-column: 1/-1;
  }
  @include screen-lg {
    grid-template-rows: 2fr 1fr;
    gap: 2ex;
  }
}
