@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

$screen-large: 800px;
@mixin screen-lg {
  @media (min-width: #{($screen-large)}) {
    @content;
  }
}

body {
  position: relative;
  font-family: "Roboto";
  // overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.main-header {
  transition: all 150ms linear;

  &.scrolled {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    color: white;
    overflow: hidden;
    .navigation {
      padding: 1ex 2ex;
      &__logo {
        font-size: 2vw;
        padding: 0;
        h1 {
          text-shadow: -4px -4px 40px white, 4px 4px 20px white;
          color: white;
        }
      }
      &__toggle {
        span {
          font-size: 6vw;
        }
      }
    }
  }

  display: flex;
  flex-direction: column;
  @include screen-lg {
    flex-direction: row;
    align-items: center;
  }
  // display: flex;
  // align-items: center;

  .navigation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2ex 4ex;
    ul {
      flex-grow: 0;
      height: auto;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2ex;
      li {
        padding: 1ex 0ex;
      }
    }
    &__logo {
      border: 0.5ex solid rgb(0, 0, 0);
      padding: 1ex 2ex;
      font-size: 2vh;
      h1 {
        color: rgb(1, 1, 1);
      }
      &:hover {
        transform: scale(0.95);
      }
    }

    &__toggle {
      span {
        // font-size: clamp(7vw, 2vw, 3vw);
        font-size: 7vw;
      }
      cursor: pointer;
      @include screen-lg {
        display: none;
      }
    }
  }
  .sitelinks {
    padding: 0 4ex;
    display: flex;
    height: 0;
    overflow: hidden;
    justify-content: end;
    gap: 4ex;

    list-style: none;
    display: flex;
    align-items: center;
    gap: 2ex;
    @include screen-lg {
      height: auto;
      overflow: unset;
    }

    li {
      padding: 1ex 0ex;
    }

    &.active {
      height: auto;
      overflow: unset;
    }
    li {
      font-size: clamp(12px, 1.5vw, 1.8vw);
      text-transform: uppercase;
      position: relative;
      font-family: "Roboto", sans-serif;
      white-space: nowrap;
      cursor: pointer;
      transition: all 250ms ease-in;

      &:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
        transform: translateY(-2px);
        color: orange;
        text-decoration-color: orange;
      }
    }
  }
}
.socials {
  list-style: none;
  position: fixed;
  bottom: 40%;
  right: 1ex;
  margin-left: auto;
  gap: 1ex;
  display: flex;
  flex-direction: column;
  z-index: 100;

  a {
    // background-color: rgba(233, 152, 1, 0.847);
    background-color: rgba(0, 0, 0, 0.359);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1ex;
    // clip-path: circle(50%);
    border-radius: 1ex;
    transition: 150ms ease-in;
    box-shadow: -10px 0px 40px 0px rgba(0, 0, 0, 0.562);
    &:hover {
      background-color: white;
      transform: translateY(-1px);
      box-shadow: -10px 0px 20px 10px rgba(168, 168, 168, 0.562);
    }
    svg {
      width: clamp(16px, 1.3vw, 2vw);
      aspect-ratio: 1;
      transition: all 150ms steps(1);
      fill: rgb(255, 255, 255);
    }
    &:hover svg {
      fill: black;
    }
  }
}
.slider-burgers {
  padding: 2em;
  margin: 0 auto;
  height: 80vh;
  width: calc(100% - 4em);
  position: relative;
  //   background-color: green;
  overflow-x: scroll;
  //   margin-bottom: 2em;
  cursor: grab;

  &::-webkit-scrollbar {
    display: none;
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;

    // gap: 2em;

    &__slide {
      //   box-sizing: content-box;
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      display: grid;
      place-content: center;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.262);

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 2vw 1fr 2vw;

      //solution to drag
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      @include screen-lg {
        width: 33%;
      }

      h2 {
        grid-row: 2/3;
        grid-column: 2/3;
        z-index: 2;
        justify-self: center;
        align-self: flex-end;
        text-transform: uppercase;
        font-size: 3.5vw;
        margin-bottom: 1ex;
        text-align: center;
      }
      h3 {
        grid-row: 1/2;
        grid-column: 2/3;
        z-index: 2;
        justify-self: center;

        text-transform: uppercase;
        font-size: 2.5vw;
        margin-top: 1ex;
        text-align: center;
      }

      img {
        grid-row: 1/3;
        grid-column: 2/3;

        width: 90%;
        height: 90%;
        object-fit: cover;
        pointer-events: none;
        z-index: 1;
        position: relative;
        align-self: center;
        justify-self: center;
        transform: scale(0.9);
      }
    }
    &__slide:not(:last-child) {
      border-right: none;
    }
    &__slide.active {
      background-image: url(../assets/textures/asfalt-dark.png);
      background-color: gold;

      &::after {
        content: "";
        background-image: url(../assets/textures/stroke3.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        width: 80%;
        height: 80%;
        opacity: 0.7;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        grid-row: 1/3;
        grid-column: 1/-1;
        align-self: center;
        justify-self: center;
      }

      img {
        transform: scale(1);
      }
    }
  }
}
.spacer {
  height: 12vh;
  // width: 100vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: url(../assets/textures/crumpled-paper2.jpg);
  background-size: cover;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  span {
    cursor: pointer;
    text-transform: uppercase;
  }
  span:nth-child(1) {
  }
  span:nth-child(2) {
    span.city {
      margin-left: 0.5ex;
      color: black;
      font-size: 0.8rem;
      border-bottom: 1px solid black;
    }
  }
  span:nth-child(3) {
  }
  span.show-menu,
  span.order-online {
    border-bottom: 1px solid black;
  }
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    color: rgba(0, 0, 0, 0.472);
    display: none;
  }
  @include screen-lg {
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
      display: unset;
    }
  }
}
.offer {
  // max-height: 200vh;
  margin: 2ex;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  gap: 2ex;

  @include screen-lg {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2ex;
  }
  &__card {
    // margin: 1ex;
    grid-row: span 1;
    grid-column: 1/-1;
    min-height: 250px;
    transition: all 150ms ease-in;
    position: relative;
    &:not(:last-child) {
    }
    &:hover {
      transform: scale(1.05);
    }
    @include screen-lg {
      grid-row: 1;
      grid-column: span 1;
    }

    position: relative;
    background-size: cover;
    background-position: bottom;

    display: grid;
    place-content: center;
    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1ex;
      z-index: 1;

      &__headline {
        font-size: clamp(30px, 1.5vw, 2.5vw);
      }
      &__icon {
        font-size: clamp(30px, 1.5vw, 2.5vw);
        color: white;
      }
    }
    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left 75%;
      position: absolute;
      z-index: 0;
      filter: grayscale(10%);
      opacity: 0.95;
    }
    &:hover &__image {
      filter: grayscale(0%);
      opacity: 1;
      mix-blend-mode: normal;
    }
  }
  &__hero {
    position: relative;
    grid-column: 1/-1;
    padding: 4ex;
    // background-image: url(../assets/cards/burgers-and-dips.jpg);
    background-size: cover;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 4vw 1fr 8vw;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    align-content: center;
    row-gap: 4ex;
    & > *:not(img) {
      z-index: 2;
      color: white;
      grid-column: 2/3;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.32);
    }
    h6 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h1 {
      font-size: 4vw;
      width: 20ch;
      text-transform: uppercase;
      padding: 0.5ex 0ex 0.5ex 1ex;
      border-left: 4px solid orange;
    }

    p {
      width: 50ch;
      letter-spacing: 1px;
      line-height: 1.6;
      font-size: clamp(10px, 1.25vw, 1.25vw);
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      inset: 0;
    }
    .button-container {
      display: flex;
      gap: 2ex;
      .button {
        // padding: 2ex 2.5ex;
        font-size: clamp(12px, 1.25vw, 1.25vw);
        padding: clamp(0.75ex, 1ex, 2ex) clamp(0.75ex, 1ex, 2ex);
        border-radius: 0.75ex;
        text-transform: uppercase;
        transition: 250ms ease-in;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.294);

        &:hover {
          transform: translateY(-4px);
        }
        &__about-food {
          background-color: orange;
        }
        &__view-menu {
          background-color: rgba(0, 0, 0, 0.468);
        }
      }
    }
  }
}
.limited {
  max-height: 150vh;
  background-color: rgb(191, 13, 49);
  // background-image: url(../assets/textures/rm432-ca-11.png);
  background-size: cover;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows:
    minmax(10px, 50px)
    min-content
    minmax(10px, 50px)
    max-content
    minmax(10px, 50px)
    min-content
    minmax(10px, 50px)
    min-content
    minmax(10px, 25px);
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.728);
  overflow: hidden;
  & > *:not(.burnt-edge) {
    z-index: 4;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    text-align: center;
    z-index: 1;
    pointer-events: none;
    aspect-ratio: 1;
    font-size: 2.5vw;
  }
  &::before {
    top: 0%;
    right: 0%;
    width: 20%;
    background-color: rgb(243, 187, 83);
    clip-path: polygon(30% 0, 0 0, 100% 100%, 100% 70%);
  }
  &::after {
    content: "LIMITED!";
    color: white;
    top: 0%;
    right: 0%;
    width: 50%;
    transform: rotate(45deg);
  }

  // gap: 2ex;
  &__logo {
    color: white;
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 3vw;
  }
  &__embeded {
    grid-column: 2/5;
    grid-row: 4/5;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.199);
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;

    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
    }
  }
  &__caption-headline {
    align-self: flex-end;
    grid-column: 3/4;
    grid-row: 6/7;
    font-size: 3vw;
  }
  &__caption-body {
    align-self: flex-start;
    grid-column: 3/4;
    grid-row: 8/9;
    text-align: center;
    color: orange;
    letter-spacing: 1px;
    line-height: 1.5;
    a {
      color: white;
      letter-spacing: 0px;
      text-decoration: underline 2px double;
      // text-underline-offset: 4px;
      text-underline-position: under;
    }
  }
  .burnt-edge {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 10%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.reviews {
  height: 50vh;
  padding: 2ex;
  position: relative;
  background-image: url(../assets/textures/crumpled-paper2.jpg);
  background-size: cover;
  .button {
    height: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    // color: rgb(255, 255, 255);
    span {
      transition: all 250ms ease-in;
    }
    &__prev {
      left: 2%;

      &:hover span {
        transform: translateX(-2px);
      }
    }
    &__next {
      right: 2%;

      &:hover span {
        transform: translateX(2px);
      }
    }
  }
  &__slider {
    overflow: hidden;

    height: 100%;
    width: 100%;
    position: relative;

    &__card {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // color: white;
      transition: 250ms ease-in;

      @include screen-lg {
        width: 50%;
      }
      .control {
        & > * {
          color: black;
        }
        background-image: url(../assets/textures/crumpled-paper.jpg);
        background-repeat: no-repeat;
        // background-color: rgb(255, 0, 89);

        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        grid-template-columns: 1fr auto;
        row-gap: 2ex;
        padding: 4ex;
        // border: 1ex double white;
        border-right: 4ex solid transparent;
        .quotation-mark {
          position: absolute;
          height: 20%;
          aspect-ratio: 1;
          z-index: 2;

          img {
            height: 90%;
            width: 90%;
            object-fit: contain;
            // filter: invert(100%);
          }
          &__top {
            top: 20%;
            left: 5%;
          }
          &__bottom {
            bottom: 20%;
            right: 5%;
            img {
              transform: rotate(180deg);
            }
          }
        }
        .customer {
          grid-row: 3;
          grid-column: 2;

          align-self: flex-end;
          justify-self: end;
        }
        .rating {
          grid-column: 2;
          align-self: flex-end;
          justify-self: end;
          text-align: right;
        }
        .review {
          grid-column: 2;
          text-align: right;
          max-width: 50ch;
        }
      }
    }
  }
}
.offer.offer-reversed {
  grid-template-rows: 2fr 1fr 1fr 1fr;

  .offer__card {
    grid-row: span 1;
    grid-column: span 1;
  }
  .offer__hero {
    grid-row: 1;
    grid-column: 1/-1;
  }
  @include screen-lg {
    grid-template-rows: 2fr 1fr;
    gap: 2ex;
  }
}
.subscribe-appeal {
  position: relative;
  min-height: 40vh;
  padding: 12ex 4ex;
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-left: none;
  border-right: none;
  display: grid;
  place-items: center;
  &__control {
    max-width: 1200px;
    display: flex;
    gap: 2ex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include screen-lg() {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 4ex;
    }
    &__headline {
      width: 40ch;
      text-align: center;
      h1 {
        color: orange;
        margin-bottom: 1ex;
      }
    }
    &__button {
      font-size: clamp(16px, 1.5vw, 2.5vw);
      display: inline-block;
      padding: 2ex 5ex;
      display: flex;
      align-items: center;
      gap: 1ex;
      text-transform: uppercase;
      border: none;
      background-color: orange;
      color: white;
      border-radius: 0.5ex;
      transition: all 250ms ease-in;

      span {
        font-size: clamp(16px, 1.5vw, 2.5vw);
      }
      .icon {
        transition: all 250ms ease-in;
      }
      &:hover {
        background-color: black;
      }
      &:hover .icon {
        transform: translateX(0.5ex);
      }
    }
  }

  &__modal {
    display: none;
    // position: fixed;
    // inset: 0;
    // background-color: black;
    // z-index: 1000;
    // max-height: 100vh;
  }
}
.site-footer {
  &__control {
    max-width: 1200px;
    margin: auto;
    padding: 4ex 0ex;
    display: grid;
    grid-template-columns: 4vw 4vw 1fr 4vw 0.5fr 4vw 1fr 4vw 4vw;
    grid-auto-rows: min-content;
    grid-template-areas:
      ". . a a . . b b . ."
      ". . a a . . c c . ."
      ". d d d d d d d d ."
      ". . . e e e e . . .";
    row-gap: 2ex;
    @include screen-lg {
      grid-template-columns: 4vw 2fr 4vw 2fr 1vw 1fr 2vw max-content 1vw 4vw;
      grid-template-rows: min-content min-content;
      grid-template-areas:
        ". l . a . c . b . ."
        ". d d d d d . e . .";
      row-gap: 8ex;
    }
    section {
      display: flex;
      flex-direction: column;
      // gap: 1ex;
      h4 {
        color: orange;
        margin-bottom: 1.5ex;
      }
      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include screen-lg() {
          max-height: 200px;
        }
        li {
          text-transform: uppercase;
          margin-bottom: 1ex;
          font-size: clamp(10px, 0.9rem, 1rem);
        }
      }
    }
    &__logo {
      width: 100%;
      height: 100%;
      background-color: black;
      grid-area: l;
    }
    &__company {
      grid-area: a;
    }
    &__jobs {
      grid-area: b;
    }
    &__socials {
      grid-area: c;
      @include screen-lg() {
        border-right: 1px solid orange;
      }
    }
    &__disclaimer {
      grid-area: d;
      h6 {
        color: black;
        letter-spacing: -0.5px;
        line-height: 1;
      }
    }
    &__watermark {
      grid-area: e;
      h5 {
        color: black;
      }
    }
  }
}
.fab {
  position: fixed;
  bottom: 10%;
  right: 0%;
  height: 60px;
  width: 60px;
  clip-path: circle(50%);
  z-index: 100;
  .circle {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.503);
    position: relative;
    .icon {
      font-size: 6vw;
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
